/* Style untuk header */
header {
  background-color: yellow;
  font-family: 'Roboto-Bold', sans-serif;
  padding: 20px;
}

/* Style untuk navigasi */
nav {
  background-color: gray;
  font-family: 'Roboto-Bold', sans-serif;
  padding: 10px;
}

/* Style untuk halaman-halaman */
body {
  background-color: white;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* Style untuk heading */
h1, h2, h3, h4, h5, h6 {
  color: black;
  font-family: 'Roboto-Bold', sans-serif;
  margin: 10px 0;
}

/* Style untuk link */
a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
